<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="Content-Script-Type" content="text/javascript" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="google-site-verification" content="-fdI2m0lY0uMI7AlxgjpKXiP9aojyxSXv8RpNFa1_Io" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
        <title>Spectra Mobile</title>

    </head>
    <body>
      <ul>
		<li><a href="/poker">EER 플레닝 포커</a></li>
		<li><a href="/screenshare">화면공유</a></li>
		<li><a href="/video">화상채팅</a></li>
    </body>
</html>
