<!DOCTYPE html>
<html>
    <head>
        <title>Spectra Video</title>
        <title>WebRTC Video</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta content="Spectra Mobile 화상채팅 & 화면공유" name="description" />
        <meta content="Spectra Mobile Video" />
        <meta content="Spectra Mobile Video" property="og:title" />
        <meta content="Spectra Mobile 화상채팅 & 화면공유" property="og:description" />
        <meta content="http://coffee.spectra.co.kr/mobile/static/images/app-icon-800.jpg" property="og:image" />
        <meta content="website" property="og:type" />
        <meta content="node.spectra.co.kr" property="og:site_name" />
        <meta name="google-site-verification" content="-fdI2m0lY0uMI7AlxgjpKXiP9aojyxSXv8RpNFa1_Io" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- style -->
        <link rel='shortcut icon' type='image/x-icon' href='/images/favicon-32.ico' />
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/video.css">
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/iaeedhfnjbciojeciegcpnglenlkhoni">

        <script src="/js/lib/jquery/jquery-1.11.3.min.js"></script>
        <script src="/js/lib/webrtc/simplewebrtc.bundle.js"></script>
        <script src="/js/lib/bootstrap/bootstrap-notify.min.js"></script>
        <script src="/js/lib/ZeroClipboard.min.js"></script>
        <script src="/js/video-ui.min.js"></script>
        <script type="text/javascript" src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

        <script>
        var _getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.msGetUserMedia || navigator.mozGetUserMedia;

        $(function() {
          checkSupportBrowser();

          // Chrome Extension 설치여부 확인
          var chromeExtensionImg = new Image();
          chromeExtensionImg.onerror = function() {
            console.error('_extension onerror');
            $('#btnScreenShare').on('click.chrome-install', function() {
              console.error('chrome-install.click');
              $('#btnScreenShare').off('click.chrome-install');

              try
              {
                chrome.webstore.install();
              }
              catch (e)
              {
                console.log(e.description);
              }
            });
          }

          setTimeout(function() {
            chromeExtensionImg.src = 'chrome-extension://iaeedhfnjbciojeciegcpnglenlkhoni/images/icon_16.png'; // Spectra Mobile App에 대한 이미지 아이콘
          }, 500);

          initialize();
        });
        </script>
    </head>
    <body>
      <div>
        <form id="createRoom">
            <input id="sessionInput"/>
            <button type="submit">Create it!</button>
        </form>
      </div>

      <div class="alert alert-danger" id="support-browser-notify" role="alert" style="display:none">지원하지 않는 브라우저 입니다. Chrome을 사용하시기 바랍니다.</div>

      <div class="video-container">
        <div class="toolbar-layer">
          <div class="room-detail-buttons">
            <div style="maring-top:5px; margin-bottom:5px;">
              <a id="btnInvite" class="btn btn-success btn-sm" style="width:200px;"><img src="/images/link.png" /> <span class="button-label">초대</span></a>
            </div>
            <!--
            <div style="maring-top:5px; margin-bottom:5px; border-bottom:1px solid #e6eaed; padding-bottom:5px;">
              <button class="btn btn-default btn-sm"><img src="/images/lock.png" /> 방 잠그기</button>
              <button class="btn btn-default btn-sm"><img src="/images/hangup.png" /> 나가기</button>
            </div>
          -->
          </div>

          <div id="localScreenLayer" class='screen-share-layer' style="display:none; margin-bottom:5px;">
            <div id="localScreenContainer" class="stream-video-wrapper">

            </div>
            <div>
              <button id="btnCloseScreenShare" class="btn btn-default btn-sm" style="width:100%">화면공유 끊기</button>
            </div>
          </div>

          <div class="stream-video-wrapper">
              <video id="localVideo" style="height: 150px;" oncontextmenu="return false;"></video>
              <div id="localVolume" class="volume_bar"></div>
          </div>

          <div class="local-control-layer">
            <button id="toggleAudio" class="btn btn-default btn-sm"><img src="/images/mic.png" title="오디오 토글"/></button>
            <button id="toggleVideo" class="btn btn-default btn-sm"><img src="/images/video.png" title="비디오 토글"/></button>
            <button id="btnScreenShare" class="btn btn-default btn-sm"><img src="/images/screenshare.png" /> <span class="share-text" style="display:inline;">화면공유</span></button>
          </div>
          <div id="remotePaticipantsLayer" style="margin-top:5px; padding-top:5px;">

          </div>
        </div>

      </div>

      <div class="remote-layer">
        <div id="remotesPanel" class="media-box stream-podium"></div>
        <div class="join-text-layer">
          화면채팅에 참여하려면 아래 URL을 전송하세요.
          <br/><span id="join-url-link"></span>
        </div>
      </div>


        <script>
            //var room = location.search && location.search.split('?')[1];
            var ipAddress = '<%=ipAddress%>';
            var room = location.pathname.split('/')[2];
            var username = getCookie('un');
            if (username)
            {
              username = username.replace(/"/g, '');
              username = decodeURIComponent(username);
            }

            var peerConnectionConfig;

            //perrConnectionConfig = JSON.parse('{"s":200,"p":"/ice","e":null,"d":{"iceServers":[{"url":"stun:turn02.uswest.xirsys.com"},{"username":"e45a2c6a-0cc7-11e6-a941-b71f576218a5","url":"turn:turn02.uswest.xirsys.com:443?transport=udp","credential":"e45a2d00-0cc7-11e6-8dc3-17ed94bd6648"},{"username":"e45a2c6a-0cc7-11e6-a941-b71f576218a5","url":"turn:turn02.uswest.xirsys.com:443?transport=tcp","credential":"e45a2d00-0cc7-11e6-8dc3-17ed94bd6648"},{"username":"e45a2c6a-0cc7-11e6-a941-b71f576218a5","url":"turn:turn02.uswest.xirsys.com:5349?transport=udp","credential":"e45a2d00-0cc7-11e6-8dc3-17ed94bd6648"},{"username":"e45a2c6a-0cc7-11e6-a941-b71f576218a5","url":"turn:turn02.uswest.xirsys.com:5349?transport=tcp","credential":"e45a2d00-0cc7-11e6-8dc3-17ed94bd6648"}]}}');
            // create our webrtc connection
            var webrtc = null;

            if (room)
            {
                setRoom(room);
            }
            else
            {
                $('form').submit(function () {
                    var val = $('#sessionInput').val().toLowerCase().replace(/\s/g, '-').replace(/[^A-Za-z0-9_\-]/g, '');
                    webrtc.createRoom(val, function (err, name) {
                        console.log(' create room cb', arguments);

                        var newUrl = location.pathname + '?' + name;
                        //console.error('newUrl : ' + newUrl)
                        if (!err) {
                            history.replaceState({foo: 'bar'}, null, newUrl);
                            setRoom(name);
                        } else {
                            console.log(err);
                        }
                    });
                    return false;
                });
            }

            checkSupportBrowser();
            initXirsys();
            updateToFirebase(room);
        </script>
    </body>
</html>
